.grid-container{
    border:1px solid black;
    width:800px;
    height:800px;
    display:grid;
    /*grid-template-rows: repeat(16,1fr);
    grid-template-columns: repeat(16,1fr);*/
}

.hovered{
    background-color: black;

}