.grid-container{
    display:grid;
    grid-template-rows: repeat(16,50px);
    grid-template-columns: repeat(16,50px);
}
.tile{
    border:1px solid black;
   
}
.hovered{
    background-color: black;

}